<!DOCTYPE html> 
<html> 

<head>
	
    <title>Quick Start - Leaflet</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        #mapid {
            height: 500px;
            width: 100%;
        }
    </style>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

    <script src='http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.js'></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
    <script src="http://lab.digital-democracy.org/leaflet-bing-layer/leaflet-bing-layer.js"></script>

    <script src="https://unpkg.com/georaster-layer-for-leaflet/georaster-layer-for-leaflet.browserify.min.js"></script>







    <style>

    </style>

	
</head>


<body dir="rtl"> 








    <form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">نقشه</div>
                        <div class="panel-body">
                            <div id="mapid"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">ویدئو</div>
                        <div class="panel-body">
                            <video id="myVideo" width="100%" controls>
                            <source src="/d2{{ MEDIA_URL }}DJI_0002.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>











    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <script>
    var vid = document.getElementById("myVideo");

    function getCurTime() { 
      alert(vid.currentTime);
    } 

    function setCurTime() { 
      vid.currentTime=5;
    } 

    var LeafIcon = L.Icon.extend({
        options: {
           iconSize:     [33, 33],
           shadowSize:   [50, 64],
           iconAnchor:   [11, 11],
           shadowAnchor: [4, 62],
           popupAnchor:  [-3, -76]
        }
    });
    var greenIcon = new LeafIcon({
        iconUrl: '/d2{{ MEDIA_URL }}leaf-green.png'
    })

    var blueIcon = new LeafIcon({
        iconUrl: "/d2{{ MEDIA_URL }}leaf-blue.png"
    })



    $(document).ready(function () {

        function highlightmarker(markerid) {
            if (typeof markers[markerid] !== 'undefined') {


                $.each(markers, function( k, v ) {
                markers[k].setIcon(blueIcon);
                });

                markers[markerid].setIcon(greenIcon);

            };
        }


        messages = {5:'eee 5', 8:'eee 8'}
        done = {};
        last_falsed_index = 5;
        
        for (const [key, value] of Object.entries(messages)) {
          console.log(key, value);
          done[key] = 'true';
        }


        var lastSecond = null;
        var secondsToCallFunction = 1;
        jQuery(vid).on('timeupdate', function(e) {
            var seconds = Math.floor(e.target.currentTime);
            if (seconds % secondsToCallFunction  == 0 && lastSecond !== seconds) {
                lastSecond = seconds
                highlightmarker(seconds);
            }

            
            if (seconds in messages) {
                console.log(done[seconds]);
                if (done[seconds] == 'true') {
                new GeoRasterLayer({georaster: url_to_geotiff_file}).addTo(map);
                vid.pause();
                last_falsed_index = seconds;
                done[seconds] = 'false';
                alert(messages[seconds]);
                } else if (seconds != seconds){
                done[seconds] = 'true';
                }
            } else {
            done[last_falsed_index] = 'true';
            };
            
            
            
            
            console.log(e.target.currentTime);

        });
    });










    </script> 




    <script>




        var BING_KEY = 'AuhiCJHlGzhg93IqUH_oCpl_-ZUrIE6SPftlyGYUvr9Amx5nzA-WqGcPquyFZl4L'
        var map = L.map('mapid').setView([51.505, -0.09], 13)
        var bingLayer = L.tileLayer.bing(BING_KEY).addTo(map)



        var markers = {};

        function setMarkers(data) {
          data.BMS.forEach(function (obj) {
            if (!markers.hasOwnProperty(obj.id)) {
              markers[obj.id] = new L.Marker([obj.lat, obj.long]).addTo(map);
              markers[obj.id].previousLatLngs = [];
            } else {
              markers[obj.id].previousLatLngs.push(markers[obj.id].getLatLng());
              markers[obj.id].setLatLng([obj.lat, obj.long]);
            }
            markers[obj.id].setIcon(blueIcon);
            markers[obj.id].on('click',function(){
                vid.currentTime=obj.time;
            });
          });
        }

        var json ={'BMS': [{'id': 1, 'lat': 30.9871, 'long': 61.7668, 'time': 1}, {'id': 3, 'lat': 30.9873, 'long': 61.7667, 'time': 3}, {'id': 5, 'lat': 30.9875, 'long': 61.7666, 'time': 5}, {'id': 7, 'lat': 30.9877, 'long': 61.7665, 'time': 7}, {'id': 9, 'lat': 30.9879, 'long': 61.7664, 'time': 9}, {'id': 11, 'lat': 30.9881, 'long': 61.7663, 'time': 11}, {'id': 13, 'lat': 30.9882, 'long': 61.7662, 'time': 13}, {'id': 15, 'lat': 30.9884, 'long': 61.7661, 'time': 15}, {'id': 17, 'lat': 30.9885, 'long': 61.7659, 'time': 17}, {'id': 19, 'lat': 30.9887, 'long': 61.7658, 'time': 19}, {'id': 21, 'lat': 30.9888, 'long': 61.7656, 'time': 21}, {'id': 23, 'lat': 30.9889, 'long': 61.7655, 'time': 23}, {'id': 24, 'lat': 30.989, 'long': 61.7653, 'time': 24}]}

        setMarkers(json);


        function zoomtoallmarker(markers) {
            var markersArray = Object.keys(markers).map(function(k){return markers[k]});
            var featureGroup = L.featureGroup(markersArray);
            map.fitBounds(featureGroup.getBounds());
        }
        zoomtoallmarker(markers);

        if (map.getZoom() > 0){
            map.setZoom(map.getZoom() - 1);
        }
        


        function addMarker(lat, long){

            if (typeof marker !== 'undefined') {
              map.removeLayer(marker);
            };
            marker = L.marker([lat, long]).addTo(map);

        }

    //addMarker(-45, 46);


    



      var url_to_geotiff_file = "/d2{{ MEDIA_URL }}tif1.tif";


    var windSpeed = L.leafletGeotiff(
            url=url_to_geotiff_file,
            options={band: 0,
                displayMin: 0,
                displayMax: 30,
                name: 'Wind speed',
                colorScale: 'rainbow',
                clampLow: false,
                clampHigh: true,
                //vector:true,
                arrowSize: 20,
            }
        ).addTo(map);












      fetch(url_to_geotiff_file)
        .then(function (response) { return response.arrayBuffer(); })
        .then(function (arrayBuffer) {
          parseGeoraster(arrayBuffer).then(function (georaster) {
            console.log("georaster:", georaster);
            var layer = new GeoRasterLayer({
              georaster: georaster,
              resolution: 512,
              pixelValuesToColorFn: function(values) {
                if (values[3] === 0) return null;
                return "rgb(${values[0]},${values[1]},${values[2]})";
              }
            });
            layer.addTo(map);
            map.fitBounds(layer.getBounds());
        });
      });










    </script>










</body> 
</html>